<section class="home-view-container">
  <section class="top-container"></section>
  <section class="home-headphone">
    <div id="h-right-container"></div>
    <div id="h-left-container"></div>
  </section>
  <section class="cables">
  <section class="newcables">
    <h2> N E W   C A B L E S </h2>
  </section>
  <section class="cable-container">
    <div id="blue-cable"></div>
    <div id="yellow-cable"></div>
    <div id="red-cable"></div>
  </section>
  <section class="headband-container">
    <div id="headband-vid">
    <h1> VIDEO </h1>
  </div>
    <div id="headband-title">
      <ul>
        <li> N E W   H E A D B A N D </li>
        <li> E N H A N C E D </li>
        <li> D U R A B I L I T Y </li>
      </ul>
    </div>
  </section>
  </section>
  <section class="blog-post">
  <section class="latest-blog">
    <h2> LATEST BLOG POST </h2>
  </section>
  <section class="blog">
    <div id="blog-image">IMAGE</div>
    <div id="blog-test">
      <h2> A I A I A I   X   N E X T B I T </h2>
      <h2> R E A D   N O W   >> </h2>
  </section>
  </section>
  <section class="popular-container">
  <section id="most-popular">
    <h2> M O S T   P O P U L A R </h2>
  </section>
  <section class="pop-items-container">
    <div id="headset-image1"> <a ui-sref='tma-2'>IMAGE </a> </div>
    <div id="headset-image2"> IMAGE </div>
    <div id="headset-image3"> IMAGE </div>
  </section>
</section>
</section>
