<section class="tma-2-main-container">
 <section class="fixed-header">
  <div class="first-row">
    <ul>
      <li> TMA-2 </li>
      <li> TRACKS </li>
      <li> PIPE </li>
      <li> CAPITAL </li>
      <li> GIFT CARD </li>
    </ul>
  </div>
  <div class="second-row">
    <ul>
      <li> PRESETS/EDITIONS </li>
      <li> PARTS </li>
      <li> GUIDE </li>
      <li> CONFIGURATOR </li>
      <li> ABOUT </li>
    </ul>
  </div>
 </section>
 <section class="tma-2-image-container">
   <div class="tma-2-image"> IMAGE </div>
   <div class="tma-2-text">
     <h1> TMA - 2 </h1>
     <h2> S 03 - H 03 -E 0 5 - C 0 2 </h2>
     <p> This configuration has a very detailed and articulated bass. Mids are sligthly forward adn good for vocals. Rounded highs. Wide sound stae and medium isolation. </p>
     <h1> 2 2 5 U S D </h1>
     <button> BUY </button>
     <button> RECONFIGURE </button>
   <br/>
   <p> 10 USD SHIPPING FROM US </p>
   <p> 30 DAYS RETURN POLICY </p>
   <p> 3 YEARS WARRANTY </p>
   <p> SOCIAL ICONS </p>
 </section>
 <section class="parts">
   <h1> P A R T S </h1>
 </section>
 <section class="tma-speakers-headband-containers">
   <section class="speaker-units">
     <div class="speaker-image">IMAGE</div>
     <div class="speaker-text">
       <h1> S 0 3 </h1>
       <h2> SPEAKER UNITS </h2>
       <p> Engineered with a titanium coated driver to reduce distortion, and designed with a fully sealed driver, providing a full and rich sound. </p>
       <button> INFO </button>
     </div>
   </section>
   <section class="headband-units">
     <div class="headband-text">
       <h1> H 0 3 </h1>
       <h2> HEADBAND </h2>
       <p> New reinforced nylon headband with high comfort and durable PU leather head padding. </p>
       <button> INFO </button>
     </div>
     <div class="headband-image"> IMAGE </div>
  </section>
 </section>
 <section class="earpads-cable-containers">
   <section class="earpad-units">
     <div class="earpad-image">IMAGE</div>
     <div class="earpad-text">
       <h1> E 0 5 </h1>
       <h2> EARPADS </h2>
       <p> Vibrant sound representation. Wide soundstage. Excellent comfort. </p>
       <button> INFO </button>
     </div>
   </section>
   <section class="cable-units">
     <div class="cable-text">
       <h1> C 0 2 </h1>
       <h2> CABLE </h2>
       <p> Coiled 1.5 meter Thermo plastic cable, soft touch surface and can extend to 3.2m, perfect for Djing or small studio usage - comes with 1/4 to 1/8 screw on adaptor. </p>
       <button> INFO </button>
     </div>
     <div class="cable-image"> IMAGE </div>
  </section>
 </section>
 <section class="details">
   <h1> DETAILS </h1>
 </section>
  <section class="details-container">
    <section class="details-left-container"></section>
    <section class="details-right-container"></section>
  </section>
  <section class="reviews-container">
    <div class="wired-review">
      <p> "TMA-1 were modular-you could swap out the on-ear pads for some over-ear noise-isolators, for example-but the new TMA-2s take that modularity to bold new heights."</p>
      <div class="wired-logo">LOGO</div>
    </div>
    <div class="techtools-review">
      <p> "The TMA-2 Modular is the first of it's kind and we're extremely excited about the future possibilities with this flexible system"</p>
      <div class="techtools-logo">LOGO</div>
    </div>
    <div class="mixmag-review">
      <p> "Building on the massive success of their stylish, minimalistic TMA-1, the Danish company has gone all Frankenstein and divided its most popular models into building blocks, making it easy to configure your perfect pair of cans"</p>
      <div class="mixmag-logo">LOGO</div>
    </div>
  </section>
 </section>
























</section>
