/*BODY*/
html, body {
  background-color: black;
  margin: 0;
  padding: 0;
}

a:link{
  color: grey;
  text-decoration: none;
}

a:visited{
  color: grey;
}

a:hover{
  color: white;
}

/*MAIN*/
.main-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.left-main-container{
  height: 100%;
  width: 84%;
  order: 1;
  display: flex;
  flex-direction: column;
}

.nav-bar{
  height: 100%;
  width: 16%;
  background-color: #2B2B2B;
  order: 2;
  position: fixed;
  overflow: auto;
}

/*LEFT MAIN*/
.top-container{
  height: 10vh;
  width: 100%;
  background-color: #2B2B2B;
  order: 1;
}
.route-container{
  height: auto;
  width: 100%;
  background-color: #A9A9A9;
  order: 2;
}

.footer{
  height: auto;
  width: 100%;
  background-color: #1C1C1C;
  color: white;
  order: 3;
  display: flex;
  flex-direction: row;
}

/*NAV BAR*/
.cart{
  margin-top: 16px;
  margin-bottom: 200px;
  margin-left: 40px;
  color: white;
}

#nav-list > li{
  list-style-type: none;
  color: white;
  margin: 20px;
  text-align: right;
}

/*FOOTER*/
#links{
  height: 250px;
  width: 33.33%;
  order: 1;
  display: flex;
  flex-direction: row;

}

#links > div > ul > li{
  list-style-type: none;
  margin-top: 10px;
  margin-right: 5px;
}
#links-left{
  height: 100%;
  width: 50%;
  order: 1;
}

#links-right{
  height: 100%;
  width: 50%;
  order: 2;
}

#newsletter{
  height: 250px;
  width: 33.33%;
  order: 2;
}

#social{
  height: 250px;
  width: 33.33%;
  order: 3;
}

/*HOME VIEW*/
/*HEADPHONES*/
.home-view-container{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.home-headphone{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  order: 2;
}

#h-left-container{
  height: 100%;
  width: 50%;
  background-color: #858585;
  order: 1;

}
#h-right-container{
  height: 100%;
  width: 50%;
  background-color: #A9A9A9;
  order: 2;
}

/*CABLES*/
.cables{
  height: 100vh;
  display: flex;
  flex-direction: column;
  order: 3;
}

.newcables{
  width: 100%;
  height: 100px;
  order: 1;
  background-color: #2B2B2B;
  color: white;
}
.newcables > h2{
  padding-left: 50px;
}

.cable-container{
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
  order: 2;
}

#blue-cable{
  height: 100%;
  width: 33.33%;
  background-color: #858585;
  order: 1;
}

#yellow-cable{
  height: 100%;
  width: 33.33%;
  background-color: #A9A9A9;
  order: 2;
}

#red-cable{
  height: 100%;
  width: 33.33%;
  background-color: white;
  order: 3;
}

.headband-container{
  height: 50%;
  display: flex;
  flex-direction: row;
  order: 3;
}

#headband-vid{
  height: 100%;
  width: 66.66%;
  background-color: grey;
  color: white;
  order: 1;
}

#headband-title{
  height: 100%;
  width: 33.34%;
  background-color: black;
  color: white;
  order: 2;
}

/*BLOG POST*/
.blog-post{
  height: 70vh;
  display: flex;
  flex-direction: column;
  order: 4;
}

.latest-blog{
  width: 100%;
  height: 100px;
  order: 1;
  background-color: #2B2B2B;
  color: white;
}

.blog{
  height: 100%;
  order: 2;
  width: 100%;
  display: flex;
  flex-direction: row;
}

#blog-image{
  width: 50%;
  height: 100%;
  background-color: grey;
  color: white;
  order: 1;
}

#blog-test{
  order: 2;
  width: 50%;
  height: 100%;
  background-color: black;
  color: white;
}

/*MOST POPULAR*/
.popular-container{
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  order: 5;
}

#most-popular{
  width: 100%;
  height: 100px;
  order: 1;
  background-color: #2B2B2B;
  color: white;
}

.pop-items-container{
  height: 100%;
  display: flex;
  flex-direction: row;
  order: 2;
}

#headset-image1{
  order: 1;
  width: 33.33%;
  background-color: #858585;
}

#headset-image2{
  order: 2;
  width: 33.33%;
  background-color: #2B2B2B;
}
#headset-image3{
  order: 3;
  width: 33.33%;
  background-color: white;
}

/*TMA2 VIEW*/
.tma-2-main-container{
height: 100%;
display: flex;
flex-direction: column;
position: relative;
top: 15vh;
}

/*HEADER*/
/*monitor the scroll till it hits the pixel height and shift fixed header up*/
.fixed-header{
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 15vh;
  width: 100%;
  order: 1;
}

.first-row{
  display: flex;
  order: 1;
  height: 50%;
  width: 100%;
  background-color: #1C1C1C;
}

.first-row > ul > li{
  list-style-type: none;
  display: inline;
  color: white;
}

.second-row{
  order: 2;
  height: 50%;
  width: 100%;
  background-color: #2B2B2B;
}
.second-row > ul > li{
  list-style-type: none;
  display: inline;
  color: white;
}

/*MAIN TMA-2*/
.tma-2-image-container{
  height: 100vh;
  width: 100%;
  order: 2;
  display: flex;
  flex-direction: row;
}

.tma-2-image{
  order: 1;
  height: 100%;
  width: 65%;
  background-color: white;
  color: black;
}

.tma-2-text{
  order: 2;
  height: 100%;
  width: 35%;
  background-color: #A9A9A9;
}
.parts{
width: 100%;
height: 15vh;
order: 3;
background-color: #2B2B2B;
color: white;
}

/*SPEAKER/HEADBAND*/
.tma-speakers-headband-containers{
  order:4;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.speaker-units{
  order: 1;
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.speaker-image{
  order: 1;
  height: 100%;
  width: 33.34%;
  background-color: white;
}

.speaker-text{
  order: 2;
  height: 100%;
  width: 66.66%;
}

.headband-units{
  display: flex;
  flex-direction: row;
  order: 2;
  height: 50%;
  width: 100%;
}

.headband-text{
  order: 1;
  width: 66.66%;
  height: 100%;
}

.headband-image{
  order: 2;
  width: 33.34%;
  height: 100%;
  background-color: white;
}

/*EARBUDS/CABLES*/
.earpads-cable-containers{
  order:5;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.earpad-units{
  order: 1;
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.earpad-image{
  order: 1;
  height: 100%;
  width: 33.34%;
  background-color: white;
}

.earpad-text{
  order: 2;
  height: 100%;
  width: 66.66%;
}

.cable-units{
  display: flex;
  flex-direction: row;
  order: 2;
  height: 50%;
  width: 100%;
}

.cable-text{
  order: 1;
  width: 66.66%;
  height: 100%;
}

.cable-image{
  order: 2;
  width: 33.34%;
  height: 100%;
  background-color: white;
}

/*DETAILS*/
  .details{
  width: 100%;
  height: 15vh;
  order: 6;
  background-color: #2B2B2B;
  color: white;
  margin-top: 10px;
}

.details-container{
  order: 7;
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  background-color: #A9A9A9;
}

/*REVIEWs*/
.reviews-container{
  order: 8;
  display: flex;
  flex-direction: row;
  height: 25vh;
  width: 100%;
  background-color: #A9A9A9;
  margin-bottom: 15vh;
}

.wired-review{
  order: 1;
  width: 33.33%;
  height: 100%;
}

.techtools-review{
  order: 2;
  width: 33.33%;
  height: 100%;
}

.mixmag-review{
  order: 3;
  width: 33.33%;
  height: 100%;
}

/*.test {
    height: 0px;
}*/
